*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    font-size: 40px;
   text-align: center;
    background-color: black;

}

a {
    color:  rgb(255, 199, 30);
}


h1 {
color: white;

}

main {
    display: flex;
    /*background-color: rgb(64, 42, 62);*/
    background-image: url(../images/purplegalaxy.jpg);
    
}


.shipViewer {
    background-color: rgb(255, 199, 30);
    height: 0vh;
   
}

.navList {
    list-style: none;
    margin: 1rem;
}

a {
    text-decoration: none;
    font-size: x-large;
}

li {
    padding: .10rem;
}