* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
}

body {
    background-image: url(../images/americanflag.jpg);
}


header h1 {
   text-align: center;
    color: rgba(83, 68, 34, 0.863);
    padding: 10px;
}

h3 {
    padding: 12px;
}


header {
    text-align: center;
    padding: 10px;
    padding-bottom: 10px;
}

.facts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.filterArea {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgba(224, 181, 111, 0.2);

}

fieldset {
margin-top: 1rem;
padding: 1rem;
margin-bottom: 1rem;

}

.resetButton {
border-radius: 10px;
padding: .25rem;
width: 100%;
margin-top: .5rem;
background-color: rgb(173, 150, 133);
    
}



.membersDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.scene {
    width: 200px;
    height: 270px;
    margin: 2rem .25rem;
    perspective: 600px;
    border-radius: 10px;
    
}

.card {
    width: 100%;
    height: 100%;   
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}


 .card:hover {
    box-shadow: 10px 10px 20px rgba(0,2,2,0.8);

}


.card.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    
}

.card__face--front {
    /*background: rgb(188, 161, 134);*/
    border-radius: 10px;
}

.card__face--back {
    background: linear-gradient(160deg, #2a4d7b 0%, #804045 100%);
    transform: rotateY(180deg);
    border-radius: 10px;
}

.details {
padding: .5rem;
}




.republican {
    border: 1px solid rgb(124, 78, 78);
    background-color: rgb(148, 63, 63);
}

.democrat {
    /*border: 1px solid rgb(55, 55, 81);*/
    background-color: rgb(60, 60, 131);
    
}

figure img {
    border-radius: 10px;
    
}



figcaption {
    text-align: center;
    font-weight: 700;
    color: white;
    
}



footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: rgba(152, 124, 139, 0.5);
    color: #EEE;

}